.wrapper {
  width: 100%;
  padding: 3% 5%;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
}

.main-div > h2 {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  margin: 0px;
  color: white;
  background-color: green;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5%;
  border: 2px solid green;
}
.row {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0px;
}
.row > span {
  font-size: 1.25em;
  font-weight: 500;
}
.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em 0em;
}

.actions > button {
  width: 100px;
  font-size: 1em;
  margin: 0em 1em;
  border: none;
  color: white;
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.actions > button.home {
  background-color: #ff8c00;
}
.actions > button.home:hover {
  background-color: #bd7824;
}

.actions > button.retry {
  background-color: #ff1493;
}

.actions > button.retry:hover {
  background-color: #d15195;
}

@media all and (max-width: 400px) {
  .wrapper {
    padding: 5%;
  }

  .main-div > h2 {
    font-size: 1em;
  }

  .row {
    width: 90%;
  }
  .row > span {
    font-size: 0.8em;
  }

  .actions > button {
    font-size: 0.8em;
  }
}

@media all and (min-width: 400px) {
  .wrapper {
    padding: 5%;
  }

  .main-div > h2 {
    font-size: 1.25em;
  }

  .row {
    width: 70%;
  }
  .row > span {
    font-size: 0.8em;
  }
  .actions > button {
    font-size: 0.9em;
  }
}

@media all and (min-width: 800px) {
  .wrapper {
    padding: 3% 5%;
  }

  .main-div > h2 {
    font-size: 1.5em;
  }

  .row {
    width: 50%;
  }
  .row > span {
    font-size: 1.25em;
  }
  .actions > button {
    font-size: 1em;
  }
}
